h1, .navbar-brand, ul li a{font-family: "Racing Sans One"; color:#2B83AE;}
.navbar-brand {font-size: 25px !important;}
h2{font-family:"Racing Sans One"; }
p{font-family:"Montserrat";}
ul li a {font-size: 16px;}
.glyphicon {margin-right: 10px !important;}

.sidebar {
	background-image: url(../img/imageSprite.png);
	background-position: 0px 0px;
	background-repeat: repeat-y;
	width: 210px;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 100;
	background:#FFFFFF;
	}
	
	.nav li{display:inline important;}
	
.left-content{
	position:relative;
	height: 100%;
	background: url(../img/bgWhite20.png);
	  background-color: #0F86C3;
	overflow:auto;
	left:160px;
	top: 0px;
	
	padding:0px 10px;
	/*border:1px solid red;*/
	/*overflow: scroll;*/
}
.left-content  .row{
	/*border:1px solid red;*/
	min-height:800px;
	padding:35px 10px 0px 10px;
	
}

.left-content h2{
	color:#FFFFFF;}

.left-content p{margin-right: 5px;}

.row{margin-left: 0px; margin-left: 0px;}

.social ul {list-style: none;}
.social ul li{ display: inline-block; margin-right:5px; }
.nav > li:hover {background-color: #0F86C3;}
.nav > li:hover a {color: #FFFFFF; background-color: #0F86C3;}

.right-content{
	position: relative;
	top: 0px;
	right: 0;
	bottom: 0;
	left: 150px;
	background: url("/images/bg/mac.jpg") #3334FE no-repeat; 
	
	/*-moz-perspective: 1200px;
	-webkit-perspective: 1200px;
	perspective: 1200px;
	-moz-transition: 0.4s ease-out;
	-o-transition: 0.4s ease-out;
	-webkit-transition: 0.4s ease-out;
	transition: 0.4s ease-out;*/
	
	/*border:1px solid blue;*/
}

.right-content .row{
	/*border:1px solid red;*/
	display:block;
	min-height: 800px;
	width: 100%;
	padding:35px 10px 0px 10px;
}


.sidebar h1{font-size: 3em; text-align:center;}
.subtitle{font-size:16px; color:#66CCFF; display:block; text-align:center;} 

.techs a img{margin:15px 15px;}


#myCarousel .nav a small
{
    display: block;
}

#myCarousel .nav {background: #2B83AE !important;}
#myCarousel .nav li:hover, #myCarousel .nav li a:hover{background: orange !important;}

.nav-justified > li > a
{
    /*border-radius: 0px;*/
}
.nav-pills>li[data-slide-to="0"].active a { background-color: #16a085; }
.nav-pills>li[data-slide-to="1"].active a { background-color: #e67e22; }
.nav-pills>li[data-slide-to="2"].active a { background-color: #2980b9; }
.nav-pills>li[data-slide-to="3"].active a { background-color: #8e44ad; }


/*----------------------TRANSITION DEMO-------------------------------*/
body {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  padding: 0px 50px 0px 50px;
  overflow:hidden;
}

button.et-rotate {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 999;
}

.et-wrapper {
  height: 170px;
  float: left;
  margin: 15px;
}

.et-page {
  padding: 8px;
}
.et-page:nth-child(1) {
  background: #0ac2d2;
}

.et-page:nth-child(2) {
  background: #f68dbb;
}

.et-page:nth-child(3) {
  background: #60d7a9;
}

.et-page:nth-child(4) {
  background: #fdc162;
}

.et-page:nth-child(5) {
  background: #fd6a62;
}
.code-demos .et-wrapper{
  margin: 0px;
}

.et-page button.et-rotate {
  position: relative;
  margin-top: 40px;
  margin-left: 10px;
}
/*-----------------END-OF---TRANSITION DEMO---------------------------*/

/*-------------------SECTIONS-----------------------------------------*/

/*------------------END OF-SECTIONS-----------------------------------*/
body{background: #003D5C ;}
body p {color:#FFFFFF;}
.right-content p {color:#003D5C;}
/*#about{background:#0097AD;}
#passion{background:#0097AD;}*/


/*-----------------MALIHU SCROLL BARS----------------*/
/*.output a{display:inline-block; text-decoration:none; padding:3px 15px; -webkit-border-radius:15px; -moz-border-radius:15px; border-radius:15px; background:#000; margin:5px 20px 5px 0;}
		code{color:#5b70ff;}*/
.content{ height: 630px; overflow:auto;  -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}
/*.content p:nth-child(even){color:#999; font-family:Georgia,serif; font-size:17px; font-style:italic;}
.content p:nth-child(3n+0){color:#c96;}*/
.content .content{width:100%;   -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;}
.content .content .content{background:#191919;}
/*-----------END OF------MALIHU SCROLL BARS----------------*/

/*------------------RESPONSIVE LAYOUT----------------------*/
@media only screen and (max-width: 340px) {
	.content {max-height:480px; overflow:auto ;}
	.left-content{
		left:-30px;
		width:130%;
	}
	.right-content {
		left:-30px;
		width:130%;
	}
}

@media only screen and (max-width: 500px) {
	.content {max-height: 320px;}
	.left-content{
		left:-30px;
		width:110%;
	}
	.right-content {
		left:-30px;
		width:110%;
	}
}



@media only screen and (max-device-width: 990px) {
	.left-content{
		left:0px;
	}
	.right-content {
	left: 0px;
	}
}

@media only screen and (max-device-width: 480px) {
	.left-content{
		left:0px;
	}
	.right-content {
	left: 0px;
	}

}

@media only screen and (max-device-width: 1366px) {
	.content {height:750px !important;}
}

@media only screen and (min-width: 1600px) {
	.content {height: 778px !important;}

}





/*------------------END OF RESPONSIVE LAYOUT---------------*/

